manifest/

content/core/
content/dota_core/
content/dota_addons/*
content/_toolsautosave/

game/_toolsettings/
game/bin/
game/core/
game/dota/
game/dota_core/
game/dota_addons/*
game/dota_imported/
game/dota_koreana/
game/dota_koreana_imported/
game/dota_lv/
game/dota_lv_imported/
game/dota_schinese/
game/dota_schinese_imported/
game/570_install.vdf
game/thirdpartylegalnotices.txt

*~
*.swp
*.bin

######################
# PROJECT EXCEPTIONS #
######################
!content/dota_addons/cott/
!content/dota_addons/cott/*
!game/dota_addons/cott/
!game/dota_addons/cott/*

############################
# PROJECT SPECIFIC IGNORES #
############################
game/dota_addons/cott/tools_asset_info.bin
game/dota_addons/cott/tools_thumbnail_cache.bin